language: android
dist: trusty
sudo: required
jdk:
  - oraclejdk8
android:
  components:
    - tools
script:
  - ./gradlew playkit:build
after_failure:
  - cat playkit/build/reports/lint-results.xml
after_success:
  - ./travis-push-to-bintray.sh
notifications:
  email:
    recipients:
      - noam.tamim@kaltura.com
      - gilad.nadav@kaltura.com
    on_success: change
    on_failure: always
