language: android
dist: trusty
sudo: required
jdk:
  - oraclejdk8
android:
  components:
    - tools
    - android-28
before_script:
  - curl https://kaltura.github.io/fe-tools/android/license.sh | sh
script:
  - ./gradlew playkit:build
after_failure:
  - cat playkit/build/reports/lint-results.xml
notifications:
  email:
    recipients:
      - noam.tamim@kaltura.com
      - gilad.nadav@kaltura.com
    on_success: change
    on_failure: always
